# shapfile extensions
*.dbf
*.prj
*.shp
*.shx
*.cpg
*.qmd
*.qix
# heavy files
*.zip
*.laz
*.tif
*.xml
__pycache__
ign_resources/
38_barraux.gpkg
barraux/mnt_barraux_1m.vrt
barraux/barraux/barraux.qgz
